[Unit]
Description=USB Power Hub Exporter
After=multi-user.target

[Service]
User=pi
ExecStart=/usr/bin/python3 /usr/local/bin/power_hub_exporter.py

[Install]
WantedBy=multi-user.target
